/*
 main text colour and selection colour = black
 secondary text and reading background colour = white
 background colour = yellow
 accent and interactive feature colour = red
 main colour = blueviolet
 */





 #heading{
    display:inline;
}

#logo{
    height: 50 px;
    width:50px;
    float : left;
    margin-right:10px;
}



nav .active {
    background-color: red;
}

#home-carousel .active {
    background-color:blueviolet;
}



fieldset{
    border:1px solid grey;
    width:900px;

}

legend{
    text-align:left;
}



#left-col{
    float:left;
    width:60%;
    padding:10px;
}


#right-col{
    width:30%;
    float:right;
    margin-left: 100px;
    margin-top: 50px;
}


#row{
    display:table;
    clear:both;
}


nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-left: 15px;
    margin-right:15px;
    margin-bottom:15px;
}

nav li {
    border:2px solid white;
    background-color:blueviolet;
    list-style-type: none;
    float:left;
    width:11%;
    padding:9px;


}

nav li a {
    color: white;
    text-decoration:none;
}

nav li:hover {
    background-color: black;
}

table {
    font-family:ariel;
    border-collapse: collapse;
    width:100%;
}

table td, table th{
    border:2px; 
    border-style: solid;
    border-color: #F0F0F0;
}

table tr:nth-child(even){
    background-color:#F2F2F2;
}

table tr:hover {
    background-color:yellow;
}

table th{
    background-color:blueviolet;
    color:white;
}


body{
    background-color: yellow;
}

header {
    background-color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: ariel;
    color : black;
}

h1 {
    font-size : h1;
}

h3 {
    font-size: h3;
}

p {
    font-size : p;
}

main{
    background-color: white;
    border-radius: 2px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
}

aside{
    background-color: white;
    border-radius: 10px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
}

footer {
    background-color: blueviolet;
    border-radius: 10px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
}


#sign-in{
    float:right;
}

#home-carousel .carousel-inner {
    height:700px;
}

#home-carousel .carousel-inner img {
    height: 100%;
    position: relative;
    margin-left: 230px;
}


#home-carousel .carousel-inner p{
    color: blueviolet;
    bottom:50px;
    right:35px;
    text-align:center;
    position:relative;
}

.gallery-img{
    width:100%;
}

#img-gallery{
    padding-top:10px;
}

#img-gallery .row{
    margin-bottom:10px;
}



#murr-shrink {
    height:82%;
}

#sal-shrink{
    height:82%;
}

#joe-shrink{
    height:82%;
}

#jokers-page .container{
    width:100%;
}
#jokers-page{
    padding-top:10px;
    background-color:blueviolet;
}

#jokers-page .row .col-sm{
    margin-bottom:10px;
    border:2px solid purple;
}


#jokers-page .col-sm h4{
    text-align:center;
}

#jokers-page .col-sm img{
    width:100%;
    height:30%;
}


#his-first-time{
    font-style: italic;
    font-weight: bold;
}

.youtube-videos{
    margin:30px;
    padding:30px;
    border:15px;
}