/*
 main text colour and selection colour = black
 secondary text and reading background colour = white
 background colour = yellow
 accent and interactive feature colour = red
 main colour = blueviolet
 */



/* design for heading for each page*/
#heading{
    display:inline;
}

/*design for logo */
#logo{
    height: 50 px;
    width:50px;
    float : left;
    margin-right:10px;
}

/* design for the border surrounding the set of fields in the contact us form */
fieldset{
    border:1px solid grey;
    width:900px;

}

/* sets the position of heading in the contact us form */
legend{
    text-align:left;
    font-family:ariel;
}

/* sets the layout and design for content of the left-hand side of the contact-us page without bootstrap css */
#left-col{
    float:left;
    width:60%;
    padding:10px;
    font-family:ariel;
}


/* sets the layout and design for content of the right-hand side of the contact-us page without bootstrap css */
#right-col{
    width:30%;
    float:right;
    margin-left: 100px;
    margin-top: 50px;
    font-family:ariel;
}


/*sets the layout for columns nested in a row  for the main of the contact us page */
#row{
    display:table;
    clear:both;
}


/*Design for navigation bar*/ 
nav .active {
    background-color: red;
}

nav ul {
    width: 111.75% ;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    margin-left: 15px;
    margin-bottom:15px;
}

nav li {
    border:2px solid white;
    background-color:blueviolet;
    list-style-type: none;
    float:left;
    width:11%;
    padding:9px;
    font-family:ariel;
}

nav li a {
    color: white;
    text-decoration:none;
}

nav li:hover {
    background-color: black;
}




/*design for table for events calendar page*/
table {
    font-family:ariel;
    border-collapse: collapse;
    width:100%;
    table-layout:fixed;
    font-size: 10pt;
}

table td, table th{
    border:2px; 
    border-style: solid;
    border-color: #F0F0F0;
    padding:8px;
}



table tr:nth-child(even){
    background-color:#F2F2F2;
}

table tr:hover {
    background-color:yellow;
}

table th{
    background-color:blueviolet;
    color:white;
    text-align:center;
}



/*design for the body of each page*/
body{
    background-color: yellow;
}

/*design for the header of each page */
header {
    background-color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    font-family:ariel;
}

/*design for each heading text size across the website */
h1, h2, h3, h4, h5, h6, p {
    font-family: ariel;
    color : black;
    margin-left:5px;
}


/*design for main segment of each webpage*/
main{
    background-color: white;
    border-radius: 2px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    font-family:ariel;
}


/*design for aside segment of each webpage*/
aside{
    background-color: white;
    border-radius: 10px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
}


/*design for footer segment of each webpage*/
footer {
    background-color: blueviolet;
    border-radius: 10px;
    margin-left:15px;
    margin-right:15px;
    margin-top:15px;
    font-family:ariel;
}


/*design for signing in form from the home page*/
#sign-in{
    float:right;
}

/*design for image carousel in index page*/
#home-carousel .active {
    background-color:blueviolet;
}

#home-carousel .carousel-inner {
    height:700px;
}

#home-carousel .carousel-inner img {
    height: 100%;
    position: relative;
    margin-left: 230px;
}

#home-carousel .carousel-inner p{
    color: blueviolet;
    font-weight:bold;
    bottom:50px;
    right:35px;
    text-align:center;
    position:relative;
    font-family:ariel;
}



/*formatting for each image within the image gallery page */
.gallery-img{
    width:100%;
}

/*formatting for all images within the image gallery page */
#img-gallery{
    padding-top:10px;
}


/*formatting for between each row of images in the image gallery page*/
#img-gallery .row{
    margin-bottom:10px;
}

/*design to alter the size of Murr's image from the About the Jokers page */
#murr-shrink {
    height:82%;
}

/*design to alter the size of Sal's image from the About the Jokers page */
#sal-shrink{
    height:82%;
}

/*design to alter the size of Joe's image from the About the Jokers page */
#joe-shrink{
    height:82%;
}

/*formatting for all images in Jokers page within the 4 column layout */
#jokers-page .container{
    width:100%;
}


/*design for 4 column layout in Jokers page */
#jokers-page{
    padding-top:10px;
    background-color:blueviolet;
}


/*design for 4 column layout for each row and column in Jokers page */
#jokers-page .row .col-sm{
    margin-bottom:10px;
    border:2px solid purple;
}

/*design for headings in each column in the jokers page */
#jokers-page .col-sm h4{
    font-family:ariel;
    text-align:center;
}


/*design for images in each column in the jokers page */
#jokers-page .col-sm img{
    width:100%;
    height:30%;
}



/*altering text for Murr's bio from the end of the second paragraph*/
#his-first-time{
    font-family: ariel;
    font-style: italic;
    font-weight: bold;
}

/*alteration of the page layout for each youtube clip in the clips page*/
.youtube-videos{
    margin:60px;
    padding:30px;
    border:15px;
}

/*formatting for all images in Merch page within the 2 x 2 layout */
#merch-page .container{
    width:100%;
}


/*Setting the formatting and adding in a border for each merch image */ 
#merch-page .col-sm img{
    width:550px;
    height:80%; 
    border:2px solid red;
    cursor:pointer;
}

/*adding addditional spacing between content in the article and the bottom of the aside section in the home page */
#society-article{
    margin-top:30px;
    border: solid 5px red;
}

/* additional formatting for the image in the article in the home page*/
#society-article img{
    width:300px;
    height:300px;
    margin-bottom:5px;
}
