
/*
 main text colour and selection colour = black
 secondary text and reading background colour = white
 background colour = yellow
 accent and interactive feature colour = red
 main colour = blueviolet

 */

#heading{
    display:inline;
}

#logo{
    height: 50 px;
    width:50px;
    float : left;
    margin-right:10px;
}

.active {
    background-color: blueviolet;
}



#left-col{
    float:left;
    width:60%;
    padding:10px;
}


#right-col{
    width:30%;
    float:right;
}

#row{
    display:table;
    clear:both;
}


nav ul {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

nav li {
    border:2px solid red;
    background-color:blueviolet;
    list-style-type: none;
    float:left;
    width:11%;
    padding:9px;


}

nav li a {
    color: white;
    text-decoration:none;
}

nav li:hover {
    background-color: black;
}

table {
    font-family:ariel;
    border-collapse: collapse;
}

table td, table th{
    border:2px;
    border-style:collaspe;
    border-color:white;
}

table tr:nth-child(even){
    background-color:grey;
}

table tr:hover {
    background-color:yellow;
}

table th{
    background-color:blueviolet;
    color:white;
}


body{
    background-color: yellow;
}

header {
    background-color:white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 10px;
}

h1, h2, h3, h4, h5, h6, p {
    font-family: ariel;
    color : black;
}

h1 {
    font-size : h1;
}

h3 {
    font-size: h3;
}

p {
    font-size : p;
}

main{
    background-color: white;
    border-radius: 2px;
}

aside{
    background-color: white;
    border-radius: 10px;
}

footer {
    background-color: blueviolet;
    border-radius: 10px;
}

